numbers.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://squalodf.org/ws/numbers" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://squalodf.org/ws/numbers" targetNamespace="http://squalodf.org/ws/numbers">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://squalodf.org/ws/numbers">
            <xs:element name="findNumberRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="number" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="findNumberResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="tns:result"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="result">
                <xs:sequence>
                    <xs:element name="code" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" name="fileNames" nillable="true" type="xs:string"/>
                    <xs:element name="error" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="findNumberRequest">
        <wsdl:part element="tns:findNumberRequest" name="findNumberRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="findNumberResponse">
        <wsdl:part element="tns:findNumberResponse" name="findNumberResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="NumbersPort">
        <wsdl:operation name="findNumber">
            <wsdl:input message="tns:findNumberRequest" name="findNumberRequest"> </wsdl:input>
            <wsdl:output message="tns:findNumberResponse" name="findNumberResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NumbersPortSoap11" type="tns:NumbersPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="findNumber">
            <soap:operation soapAction=""/>
            <wsdl:input name="findNumberRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findNumberResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NumbersPortService">
        <wsdl:port binding="tns:NumbersPortSoap11" name="NumbersPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>